.containerFooter {
  display: flex;
  padding: 25.681px 106.284px 25.148px 106px;
  padding-left: 0px;
  padding-right: 0px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  background: #252525;
  max-width: 550px;
}

.footerText {
  color: #aaa;
  text-align: center;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 22.923px; /* 163.733% */
}
